<app-header></app-header>
<div class="container">
    <a mat-button
        style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red;background-color: whitesmoke;border-radius: 15px;"
        routerLink="/home">Pokedex </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a mat-button
        style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red;background-color: whitesmoke;border-radius: 15px;"
        routerLink="/mypokemon">My Pokemon</a>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>