<mat-toolbar>
    <div class="name" style="margin-top: 10px; margin-bottom: 10px; display: flex;">
        <a href="/home"><img src="../../../assets/images/pokeball.png" alt="PokemonGO" width="35px" height="35px"
                style="margin-top: 10px;"></a>&nbsp;&nbsp;&nbsp;
        <h2
            style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-top: 10px;">
            POKEMON GO</h2>&nbsp;&nbsp;&nbsp;
        <a href="/home"><img src="../../../assets/images/pokeball.png" alt="PokemonGO" width="35px" height="35px"
                style="margin-top: 10px;"></a>
    </div>
</mat-toolbar>